.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

footer{
  background-color: indigo;
  text-align: center;
  color: white;
  width: 100%;
  bottom: 0;
  position: absolute;
}